@{
    ViewData["Title"] = "Index";
}

<div>
    <h1>Index</h1>
    <form action='@Url.Action("IniciarSesion", "home")' method="POST" enctype="multipart/form-data">
        Ingresa tu Nombre : <input type="nombre" name="nombreIntegrante">
        Ingresa tu contraseña : <input type="text" name="passIntegrante">
        <input type="submit" name="enviar">
    </form>
</div>    